/** Layout Design **/

/* Blocks */
.block {
    border: 1px dotted #B4B4B4;
    padding: 2px;
    background: #FAFAFA;
	/*position: relative;
	overflow: initial;*/
}
/*.block:hover:before{
    content: "Block";
    position: absolute;
    font-size: 4em;
    color: rgba(0, 0, 0, 0.1);
    left: 15px;
    top: 15px;
    z-index: 100;
    border: 2px dotted #B4B4B4;
}*/

.wrapper {
    width: 920px;
}
.popup {
    display: none;
}
.popup .x {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1000;
    border: 1px solid #000;
}
.popup .closepopup{
    cursor: pointer;
}

/* Areas */
.area {
	border: 1px dashed #ebebeb;	
	/*overflow: initial;
	position: relative;*/
}
/*.area:hover:before{
    content: "Area";
    position: absolute;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.1);
    right: 15px;
    top: 15px;
    z-index: 100;
    border: 1px dashed #ebebeb;
}*/

/* Elements */
.element {
    border: 3px double #ebebeb;
	margin: 10px;
	/*overflow: initial;
	position: relative;*//
}




/* Over */

body {
    font-size: 100%;
    font-family: verdana,geneva,sans-serif;
    background: #ebebeb;
}
H2 {
    font-family: verdana,geneva,sans-serif;
    font-weight: inherit;
}
p {
    font-size: 14px;
}